{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row vh-100">
        <div class="d-none d-md-flex col-md-4 col-lg-6 align-items-end" style="background-color: #2c3e50;">
            <div class="d-none d-lg-flex flex-column mb-3">
                <p class="text-light fw-bold display-1">FLASK</p>
                <p class="text-light fw-bold display-1">EXAMPLE</p>
            </div>
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="d-flex align-items-center py-5 h-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">어서오세요!</h3>
                            <form action="{{ url_for('index.login') }}" method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-label-group position-relative mb-3">
                                    {{ form.username(class="form-control") }}
                                    {{ form.username.label }}
                                </div>
                
                                <div class="form-label-group position-relative mb-3">
                                    <div class="input-group">
                                        {{ form.password(class="form-control") }}
                                        {{ form.password.label }}
                                        <span class="input-group-text" style="width: 46px;">
                                            <i class="fa-regular fa-eye cursor password-toggle"></i>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    {{ form.submit(class="btn btn-lg btn-primary text-uppercase font-weight-bold") }}
                                    <a href="{{ url_for('index.regist') }}" class="text-primary">회원가입</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordField = $("#{{ form.password.id }}");
    const passwordToggle = $(".password-toggle");

    passwordToggle.on("click", function() {
        if (passwordField.prop("type") == "password") {
            passwordField.prop("type", "text");
            passwordToggle.removeClass("fa-eye");
            passwordToggle.addClass("fa-eye-slash");
        } else {
            passwordField.prop("type", "password");
            passwordToggle.removeClass("fa-eye-slash");
            passwordToggle.addClass("fa-eye");
        }
    });
</script>

{% endblock %}