<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{{ url_for('index.register') }}" method="post" class="w-100">
                {{ register_form.hidden_tag() }}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">사용자 정보</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        {{ register_form.username.label(class="fw-bold") }}
                        {{ register_form.username(class="form-control border-secondary") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ register_form.password.label(class="fw-bold") }}
                        <div class="input-group">
                            {{ register_form.password(class="form-control border-secondary") }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        {{ register_form.password_confirm.label(class="fw-bold") }}
                        <div class="input-group">
                            {{ register_form.password_confirm(class="form-control border-secondary") }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    {{ register_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>