<style>
    .loader-container {
        z-index: 999;
    }
    .loader {
        border: 15px solid rgba(0, 0, 0, 0);
        border-top: 15px solid rgba(75, 192, 192, 1);
        border-radius: 50%;
        width: 200px;
        height: 200px;
        animation: spin 1s linear infinite;
        margin: 20px auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<div class="loader-container h-100 w-100 d-flex justify-content-center align-items-center position-absolute top-0 start-0 bg-light">
    <div class="loader"></div>
</div>